body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.login-container, .user-dashboard {
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

.progress-bar {
    width: 100%;
    background-color: #ddd;
    border-radius: 5px;
    margin: 20px 0;
}

.progress {
    height: 20px;
    background-color: #4CAF50;
    border-radius: 5px;
    width: 0%; /* Valor inicial, será ajustado via JavaScript */
}

button {
    padding: 10px 20px;
    border: none;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    margin: 10px 0;
    border-radius: 5px;
}

button:hover {
    background-color: #0056b3;
}
